<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Web System For Creating And Managing Virtual High Performance Computing Environments</title>
	<link href="/mymedia/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>Available ISO images:</h1>

{% if latest_image_list %}
	<ul>
	{% for image in latest_image_list %}
		<li><a href="/computing/{{ image.id }}/">{{ image.name }}.</a> 
		Tags: {% for tag in image.get_tags %}
			{{ tag }}
		      {% endfor %}</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No images available.</p>
{% endif %}
<p><a href="/computing/">HOME</a></p>
</body>
</html>
