<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Web System For Creating And Managing Virtual High Performance Computing Environments</title>
	<link href="/mymedia/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1 id="main_title">Web System For Creating And Managing Virtual High Performance Computing Environments</h1>
<h3 class="available_images">Image details</h3>
<p><b>IMAGE NAME</b> {{ image.name}}</p>





{% if image.type_of_image == "nebula" %}
<ul>
	<li>Image name: {{ image.details_opennebula_set.get.image_name }}</li>
	<li>Image description: {{ image.details_opennebula_set.get.description }}</li>
	<li>Image type: {{ image.details_opennebula_set.get.image_type }}</li>
	<li>Public: {{ image.details_opennebula_set.get.public }}</li>
	<li>Persistent: {{ image.details_opennebula_set.get.persistent }}</li>
	<li>Dev Prefix: {{ image.details_opennebula_set.get.dev_prefix }}</li>
	<li>BUS type: {{ image.details_opennebula_set.get.bus }}</li>
	<li>Driver: {{ image.details_opennebula_set.get.driver }}</li>
	<li>Path: {{ image.details_opennebula_set.get.path }}</li>	
	<li>Source: {{ image.details_opennebula_set.get.source }}</li>
	<li>Size: {{ image.details_opennebula_set.get.size }}</li>
	<li>Fstype: {{ image.details_opennebula_set.get.fstype }}</li>
</ul>
{% else %}{% if image.type_of_image == "stack" %}


</ul>


{% else %}

<div id="image_information">
<p><div class="tag_field"><b>TAGS</b>{% for tag in image.get_tags %}
				<span class="tags">{{ tag }}</span>
			      {% endfor %}</div></p>	
	<p class="owner"><b>Image creator</b> {{ image.user_owner.first_name }} {{ image.user_owner.last_name }} ({{ image.user_owner.email }})</p>
	<p class="owner"><b>Public</b> {{ image.public }}</p>
	<p class="owner"><b>Image status</b> {{ image.status|upper }}</p>
	<p class="owner"><b>Added to the system on</b> {{ image.date_added }}</p>
	<p class="owner"><b>Last used in</b> {{ image.date_last_used }}</p>
    	<p class="owner"><b>Times used</b> {{ image.number_of_uses }}</p>
    	<p class="owner description"><b>Description</b> <span class="img_description">{{ image.description }}</span></p>
</div>

{% if image.status == "delete" %}
<button id="delete_button">Delete image</button> <br />
{% endif %}


{% if user != image.user_owner and image.public %}
<button id="launch_button">Launch VM image!</button> <br />
{% else %}
{% if user == image.user_owner and image.public %}
<button id="launch_button">Launch VM image!</button> <br />
{% else %}
{% if user == image.user_owner and not image.public %}
<button id="launch_button">Launch VM image!</button> <br />
{% else %}
This image was not created by you or it is not public. <br />
Please contact either the owner or the system administrator if you wish to use this image. <br />
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}



<a id="back_button" href="/computing/">Go back to the start page</a>


<div id="user_corner">
Hello <a href="/computing/user/{{ user.id }}/">{{ user.first_name }} {{ user.last_name }}</a>  
{% if user.is_staff %}
| <a href="/computing/management">Image management</a>
{% endif %}
| <a href="/computing/logout/">Logout</a>
</div>
</body>
</html>
