<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Web System For Creating And Managing Virtual High Performance Computing Environments</title>
	<link href="/mymedia/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>{{ image.name }}</h1>

<p>Tags: {% for tag in image.get_tags %}
			{{ tag }};
		      {% endfor %}</p>




{% if image.type_of_image == "nebula" %}
<ul>
	<li>Image name: {{ image.details_opennebula_set.get.image_name }}</li>
	<li>Image description: {{ image.details_opennebula_set.get.description }}</li>
	<li>Image type: {{ image.details_opennebula_set.get.image_type }}</li>
	<li>Public: {{ image.details_opennebula_set.get.public }}</li>
	<li>Persistent: {{ image.details_opennebula_set.get.persistent }}</li>
	<li>Dev Prefix: {{ image.details_opennebula_set.get.dev_prefix }}</li>
	<li>BUS type: {{ image.details_opennebula_set.get.bus }}</li>
	<li>Driver: {{ image.details_opennebula_set.get.driver }}</li>
	<li>Path: {{ image.details_opennebula_set.get.path }}</li>	
	<li>Source: {{ image.details_opennebula_set.get.source }}</li>
	<li>Size: {{ image.details_opennebula_set.get.size }}</li>
	<li>Fstype: {{ image.details_opennebula_set.get.fstype }}</li>
</ul>
{% else %}{% if image.type_of_image == "stack" %}


</ul>


{% else %}

<ul>
	<li>Image name: {{ image.name}}</li>
	<li>Image creator: {{ image.user_owner }} - {{ image.user_owner.email }}</li>
	<li>Public: {{ image.public }}</li>
	<li>Image status: {{ image.status }}</li>
	<li>Added to the system on: {{ image.date_added }}</li>
	<li>Last used on: {{ image.date_last_used }}</li>
</ul>

{% if user == image.user_owner and image.public %}
Launch VM image! <br />
{% else %}
This image was not created by you or it is not public. <br />
Please contact either the owner or the system administrator if you wish to use this image. <br />
{% endif %}
{% endif %}

{% endif %}

<form><input type="button" value="Back" onClick="history.go(-1); return true;"></form>
<p><a href="/computing/">Back to the start page.</a></p>
<p><a href="/computing/logout/">Logout</a></p>
<div id="user_corner">
Hello <a href="/computing/user/{{ user_in_session.id }}/">{{ user.first_name }} {{ user.last_name }}</a>
{% if user.is_staff %}
<b>Administration:</b>
<a href="/computing/management">Image management.</a>
{% endif %}
<br /><a href="/computing/logout/">Logout</a>
</div>
</body>
</html>
