<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<link href="/mymedia/css/styles.css" rel="stylesheet" type="text/css" />
		<title>Web System For Creating And Managing Virtual High Performance Computing Environments</title>
	</head>
<body>
<h1>Web System For Creating And Managing Virtual High Performance Computing Environments</h1>
<br />
This portal was designed to help researchs find the most suitable virtual image for their computing needs.<br />
Please choose one of the options below to continue:
<br />
<ol>
	<li><a href="/computing/details">View available images, details and statistics.</a></li>
	<li><a href="/computing/list">Use an already existing image.</a></li>
	<li><a href="/computing/create_image">Create an image suiting your needs (advanced).</a></li>
	<li><a href="/computing/search_form">Search for an image.</a></li>
</ol>
{% if latest_image_list %}
	<ul>
	{% for image in latest_image_list %}
		<li><a href="/computing/{{ image.id }}/">{{ image.name }}.</a> 
		Tags: {% for tag in image.get_tags %}
			{{ tag }}
		      {% endfor %}</li>
	{% endfor %}
	</ul>
<!--{% load tagging_tags %}-->
<!--{% tags_for_model computing.Image as derp %}-->
<!--{{ derp|length }}-->
<!--{% for tag in derp %}-->
<!--{% if tag.name == "HERPDERPTAG" %}-->
<!--VERDADEIRO!-->
<!--{% else %}-->
<!--FALSO!-->
<!--{% endif %}-->
<!--{% endfor %}-->
{% else %}
	<p>No images available.</p>
{% endif %}	
</body>
</html>
