<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<link href="/mymedia/css/styles.css" rel="stylesheet" type="text/css" />
		<title>Web System For Creating And Managing Virtual High Performance Computing Environments</title>
	</head>
<body>
<h1 id="main_title">Web System For Creating And Managing Virtual High Performance Computing Environments</h1>

<h3 class="available_images">Available VM images</h3>
<p id="created_images">These are images that are public or you have created:</p>

<ul class="latest_images">
	{% for item in user_image_list %}
		<li><a href="/computing/{{ item.id }}/">{{ item.name }}</a> 
		<div class="tag_field">{% for tag in item.get_tags %}
				<span class="tags">{{ tag }}</span>
			{% endfor %}</div>
	<p class="owner"><b>Creator</b> {{ item.user_owner.first_name }} {{ item.user_owner.last_name }}<b>Email</b> {{ item.user_owner.email }}</p>
	<p class="owner description"><b>Description</b> <span class="img_description">{{ item.description }}</span></p></li>
	{% endfor  %}
</ul>

<div id="user_corner">
Hello <a href="/computing/user/{{ user_in_session.id }}/">{{ user_in_session.first_name }} {{ user_in_session.last_name }}</a>  
{% if user_in_session.is_staff %}
| <a href="/computing/management">Image management</a>
{% endif %}
| <a href="/computing/logout/">Logout</a>
</div>
<a id="back_button" href="/computing/">Go back to the start page</a>
</body>
</html>
