<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<link href="/mymedia/css/styles.css" rel="stylesheet" type="text/css" />
		<title>Web System For Creating And Managing Virtual High Performance Computing Environments</title>
	</head>
<body>
<h1>Web System For Creating And Managing Virtual High Performance Computing Environments</h1>


{% if user_in_session.is_staff %}
<p id="welcome_message">Welcome to the admin reserved area, {{ user_in_session.first_name }} {{ user_in_session.last_name }}.</p>

<p id="warning_message">The following VM images have been in the system for over 10 days and have not been used for 10 days. You should consider deleting them.</p>
<ul class="latest_images">
{% for image in user_images %}
{% if image.get_time_in_system.days > 0 and image.get_time_since_last_used.days > 10 %}
<li><a href="/computing/{{ image.id }}/">{{ image.name }}</a>
			   <div class="tag_field">{% for tag in image.get_tags %}
				<span class="tags">{{ tag }}</span>
			    {% endfor %}</div>
     <p class="owner"><b>Creator</b> {{ image.user_owner.first_name }} {{ image.user_owner.last_name }} <b>Email</b> {{ image.user_owner.email }}</p>
     <p class="owner"><b>Last used in</b> {{ image.date_last_used }}</p>
     <p class="owner"><b>Added to the system on</b> {{ image.date_last_used }}</p></li>
{% endif %}
{% endfor %}
</ul>

<p id="system_images">Images marked for deletion:</p>

<ul class="latest_images system_images">{% for image in images_deleted  %}
	<li><a href="/computing/{{ image.id }}/">{{ image.name }}</a> is in the system for <b>{{ image.get_time_in_system.days }}</b> day{{ image.get_time_in_system.days|pluralize }}.
		It has been <b>{{ image.get_time_since_last_used.days }}</b> day{{ image.get_time_in_system.days|pluralize }} since it was last used.
<p class="owner"><b>Creator</b> {{ image.user_owner.first_name }} {{ image.user_owner.last_name }} <b>Email</b> {{ image.user_owner.email }}</p>		</li>
	{% endfor %}</ul>


<p id="system_images">Images currently in the system:</p>

<ul class="latest_images system_images">{% for image in user_images  %}
	<li><a href="/computing/{{ image.id }}/">{{ image.name }}</a> is in the system for <b>{{ image.get_time_in_system.days }}</b> day{{ image.get_time_in_system.days|pluralize }}.
		It has been <b>{{ image.get_time_since_last_used.days }}</b> day{{ image.get_time_in_system.days|pluralize }} since it was last used.
<p class="owner"><b>Creator</b> {{ image.user_owner.first_name }} {{ image.user_owner.last_name }} <b>Email</b> {{ image.user_owner.email }}</p>		</li>
	{% endfor %}</ul>


{% else %}
Nothing to see here, move along. 
{% endif %}

<a id="back_button" href="/computing/">Go back to the start page</a>
<div id="user_corner">
Hello <a href="/computing/user/{{ user_in_session.id }}/">{{ user_in_session.first_name }} {{ user_in_session.last_name }}</a>  
{% if user_in_session.is_staff %}
| <a href="/computing/management">Image management</a>
{% endif %}
| <a href="/computing/logout/">Logout</a>
</div>
</body>
</html>


