<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<link href="/mymedia/css/styles.css" rel="stylesheet" type="text/css" />
		<title>Web System For Creating And Managing Virtual High Performance Computing Environments</title>
	</head>
<body>
<h1>Web System For Creating And Managing Virtual High Performance Computing Environments</h1>
{% if user_in_session.is_staff %}
<h4>Welcome to the management area, {{ user_in_session }}.</h4>

<p><b>The following VM images have been in the system for over a day and have not been used for one day. You should consider deleting them.</b></p>
<ul>
{% for image in user_images %}
<li>{% if image.get_time_in_system.days > 0 and image.get_time_since_last_used.days > 0 %}</li>
{{ image.name }} <br />
{% endif %}
{% endfor %}
</ul>

<b><p>Images currently in the system:</p></b>

{% for image in user_images  %}
<p>{{ image.name }} is in the system for {{ image.get_time_in_system.days }} day(s).
It has been {{ image.get_time_since_last_used.days }} day(s) since it was last used.</p>
{% endfor %}
{% else %}
Nothing to see here, move along. <br />
{% endif %}

<a href="/computing">Go back to the start page.</a>
<div id="user_corner">
Hello <a href="/computing/user/{{ user_in_session.id }}/">{{ user_in_session.first_name }} {{ user_in_session.last_name }}</a>
{% if user_in_session.is_staff %}
<b>Administration:</b>
<a href="/computing/management">Image management.</a>
{% endif %}
<br /><a href="/computing/logout/">Logout</a>
</div>
</body>
</html>


