<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<link href="/mymedia/css/styles.css" rel="stylesheet" type="text/css" />
		<title>Web System For Creating And Managing Virtual High Performance Computing Environments</title>
	</head>
<body>
<h1>Web System For Creating And Managing Virtual High Performance Computing Environments</h1>

<h3>Modify your user details</h3>
<h5>Leave field blank if you do not wish to change it.</h5>

<form method="post" action="/computing/modify_user_results/">
	{% csrf_token %}
{% for field in form %}
<p>{{ field.label }}: {{ field }}</p>
{% endfor %}
<input type="submit" value="Modify">

<div id="user_corner">
Hello <a href="/computing/user/{{ user_in_session.id }}/">{{ user_in_session.first_name }} {{ user_in_session.last_name }}</a>.<br />
<a href="/computing/logout/">Logout</a>
</div>

</body>
</html>
