<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<link href="/mymedia/css/styles.css" rel="stylesheet" type="text/css" />
		<title>Web System For Creating And Managing Virtual High Performance Computing Environments</title>
	</head>
<body>
<h1>Web System For Creating And Managing Virtual High Performance Computing Environments</h1>
<br />
<h2>Viewing user details</h2>

<div id="user_info">
Username: {{ user_in_session }}<br />
First name: {{ user_in_session.first_name }} <br />
Last name: {{ user_in_session.last_name }} <br />
Email: {{ user_in_session.email }} <br />
</div>

<div id="images_owned">
<h3>VM images created:</h3>
<ul>
{% for item in user_image_list %}
<li><a href="/computing/{{ item.id }}/">{{ item }}</a></li>
{% endfor %}
</ul>
</div>

<p><a href="/computing/">Go back to the start page.</a></p>
<div id="user_corner">
Hello <a href="/computing/user/{{ user_in_session.id }}/">{{ user_in_session.first_name }} {{ user_in_session.last_name }}</a>
{% if user_in_session.is_staff %}
<b>Administration:</b>
<a href="/computing/management">Image management.</a>
{% endif %}
<br /><a href="/computing/logout/">Logout</a>
</div>

</body>
</html>
